app.name=RoadPech_Mobile
app.version=1.0
app.username=cse
app.password=admin
app.mobitelSubscriberDBName=roadpech_mobile
app.mobitelSubscriberDBusername=root
app.mobitelSubscriberDBPassword=
app.mobitelSubscribertableName=in_mobitel_data
app.mobitelSubscriberRowtableName=in_row_mobitel_data_2
app.mobitelCellTowertableName=cell_tower_data
app.centralDatabaseURL=http://roadpechrest.ap01.aws.af.cm/kboutput
app.passKey=password
app.passValue=admin